# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# ❌ Ignore build folder
build/

# ✅ BUT allow Flutter Web build for deployment
!build/web/
!build/web/**

# Coverage
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build
/android/app/debug
/android/app/profile
/android/app/release

# IDE
.vscode/
.idea/